/* CSS Document */

*{margin:0; padding:0}
body {margin:0; padding:0; font:12px/1.5 \5b8b\4f53,Arial,sans-serif; font-family:"黑体"; color:#333; background:#eee url(../images/yamibj.jpg) repeat-x top;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
a{ color:#; text-decoration:none;}
a:hover { text-decoration:underline;}
.clearfix:after{ visibility: hidden; display: block; font-size: 0;content:" ";clear: both; height: 0;}
div.noneBorder{ border:none}
/*--top--*/
.top{ width:960px; height:86px; margin:0 auto;}
.logo{ width:149px; height:51px; margin-top:13px; float:left;}
.topRight{ float:right;}
.topLogin{ height:32px; float:right;}
.topLogin a{ color:#999; line-height:32px; background:url(../images/topBorber.jpg) no-repeat center right; float:left; padding:0 13px 0 13px;}
.topLogin a:hover{ color:#444;}
.search{ float:right; height:38px; width:288px; line-height:38px;  background:url(../images/searchB.jpg) no-repeat;}
.search input{ width:168px; height:26px; border:none; background:none; line-height:26px; color:#999; padding-left:4px; margin:6px 0 0 7px; display:inline; float:left;}
.search .SeaButton{ width:26px; height:26px; float:left; line-height:26px; margin-top:6px;}
.search .SeaButton:hover{ background:url(../images/searchButton.jpg) no-repeat;}
.search span{ float:right; width:78px; text-align:center;}
.search span a{ color:#666;}
.search span a:hover{ color:#333;}
.topWbwx{ height:24px; clear:both; padding-top:11px;}
.topWbwx .wb,.topWbwx .wx{ width:25px; height:24px; float:right; background:url(../images/wbwx.jpg) no-repeat; position:relative; cursor:pointer; z-index:9}
.topWbwx span{ width:1px; height:24px; overflow:hidden; float:right; margin:0 12px; display:inline; background:url(../images/topBorber.jpg) no-repeat center;}
.topWbwx .wb{ background-position:-97px 0;}
.topWbwx .wx{ background-position:-146px 0;}
.topWbwx .wba{ background-position:-97px 0;}
.topWbwx .wbhoverBg {background-position:0 0;}
.topWbwx .wxa{ background-position:0px 0;}
.topWbwx .wxhoverBg {background-position:-49px 0;}

.wbtc{ width:181px; height:279px; position:absolute; top:28px; right:-76px; background:url(../images/_r1_c1.png) no-repeat; display:none;}
.topWbwx .wb .hover { display:block;}
.nav li { float:left}
.nav{width:960px; margin:0 auto; position:relative; height:95px;}
.homeNav { height:69px;}
.nav1{ float:left; height:61px;}
.nav1 a.navtab1,.nav1 a.navtab2,.nav1 a.navtab3{ width:188px; height:61px; float:left; margin-right:3px; background:url(../images/nav.png) no-repeat;}
.nav1 a.navtab1{ background-position:0 0;}
.nav1 a.navtab2{ background-position:-189px 0;}
.nav1 a.navtab3{ background-position:-378px 0;}
.nav1 .hover .navtab1,.nav1 .navtab1a{background-position:0 -61px;}
.nav1 .hover .navtab2,.nav1 .navtab2a{background-position:-189px -61px;}
.nav1 .hover .navtab3,.nav1 .navtab3a{background-position:-378px -61px;}
.hoanbor{ width:960px; height:8px; float:left; overflow:hidden;}
.sub_nav {position:absolute; display:none;}
/*--二级导航--anvtop--*/
.nav2{ height:34px; width:960px; background:url(../images/navbj3.jpg) repeat-x; float:left;}
.nav2_left ,.nav2_right{ width:5px; height:34px; float:left; background:url(../images/navbj1.jpg) no-repeat;}
.nav2_right{ float:right; background:url(../images/navbj2.jpg) no-repeat;}
.menu{ float:left; margin-left:12px; display:inline;}
.menu li{ float:left; height:32px; line-height:32px; margin-left:1px; display:inline;}
.menu li a{ display:block; padding:0 22px; color:#fff;}
.menu li a:hover ,.menu .menua{ background:url(../images/navbj4.jpg) repeat-x; color:#000; text-decoration:none;}
/*--foot--*/
.foot{width:960px; margin:0 auto; height:160px; padding-top:28px; line-height:20px; color:#999; text-align:center;}
.foot p a{ color:#999; padding:0 6px;}
.foot p a:hover{ color:#444;}
.footImg{height:46px; overflow:hidden;margin-top:24px;}
.footImg a{ padding:1px 0;}

/*--bonner-home-content-*/
.banner{ width:962px; height:568px; margin:0 auto; clear:both}
.baSlogan{ height:75px; text-align:center;}
.baSlogan strong { padding-top:16px; line-height:22px; font-size:18px; color:#333; display:block}
.bannerImg{ height:487px; overflow:hidden;}

.content{width:960px; margin:0 auto; height:142px;}
.conLi1 ,.conLi2 ,.conLi3{ width:310px; height:108px; margin-top:16px; float:left; margin-right:15px;}
.conLi3{ height:118px; margin-top:6px; margin-right:0;}
.Read_News li{ background:url(../images/newsListbg.png) repeat-x bottom; padding-bottom:10px; padding-top:4px;}
.Read_News li.none { background:none}
.Read_News .newstitle a { color:#333; font-size:14px; line-height:30px;}
.Read_News .newstime { font-size:11px; padding-left:10px; color:#999}
.Read_News .newscontent { color:#666}
/*tide*/
.TownSuggest .TownSuggest_title { font-size:14px; padding-top:20px; display:block; color:333}
.TownSuggest_content { padding-top:15px; padding-bottom:10px; color:#666}